.col-md-3.col-md-offset-4.text-center
  %h1
    Calculator
  %div{ 'ng-controller': 'indexCtrl' }
    .row  
      %input{type: "text", placeholder: 0, 'ng-model': 'calcInput', 'class': 'form-control'}
    %br
    .row
      .btn-group
        %button{ 'ng-click': 'userNumber(1)', 'class': 'btn-lg'}
          1
        %button{ 'ng-click': 'userNumber(2)', 'class': 'btn-lg'}
          2
        %button{ 'ng-click': 'userNumber(3)', 'class': 'btn-lg'}
          3
        %button{ 'ng-click': 'userNumberPlus()', 'class': 'btn-lg'}
          +
    .row
      .btn-group
        %button{ 'ng-click': 'userNumber(4)', 'class': 'btn-lg'}
          4
        %button{ 'ng-click': 'userNumber(5)', 'class': 'btn-lg'}
          5
        %button{ 'ng-click': 'userNumber(6)', 'class': 'btn-lg'}
          6
        %button{ 'ng-click': 'userNumberMinus()', 'class': 'btn-lg'} -
    .row
      .btn-group
        %button{ 'ng-click': 'userNumber(7)', 'class': 'btn-lg'}
          7
        %button{ 'ng-click': 'userNumber(8)', 'class': 'btn-lg'}
          8
        %button{ 'ng-click': 'userNumber(9)', 'class': 'btn-lg'}
          9
        %button{ 'ng-click': 'userNumberEquals()', 'class': 'btn-lg'} =
    .row
      .btn-group
        %button{ 'ng-click': 'userNumber(0)', 'class': 'btn-lg'}
          0
        %button{ 'ng-click': 'clearCalculation()', 'class': 'btn-lg'}
          clear